$primary-color: #0077CC;
$secondary-color: #0BB6E3;
$tertiary-color: #0BD9D8;
$quaternary-color: #77A1E6;
$quinary-color: #6578DB;
$font-color: #FFFFFF;
$dark-grey-color: #6A6C6E;
$mid-grey-color: #A0A1A2;
$light-grey-color: #C2C3C4;

$large-font: 56px;
$mid-font: 28px;
$small-font: 12px;

@mixin blue-border {
    border: 1px lightblue solid;
}

.template-container {
    position: relative;
    height: 100%;
    

    .template-header {
        width: 100%;
        box-shadow: 0 0 15px -6px black;
        padding: 10px 0 10px 0;
        text-align: center;

        .template-header-list {
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            padding: 0;
    
            .template-header-item {
                text-align: center;
                color: $font-color;
                
                p{
                    color: $font-color;
                }
            }
        }
        input {
            text-align: center;
            color: $secondary-color;
            font-size: 20px;
            font-weight: bold;
        }
        li {
            button {
                border-radius: 0 0 0 0;
                background: $primary-color;
                color: $font-color;
                padding: 5px 10px 5px 10px;
            }
        }
    }

}




ul {
    list-style-type: none;
    padding: 0;
}



